<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <head>
        <script>
            let server_url = '<%- url %>'
        </script>
    </head>

    <body>
        <%- include('./partials/header.ejs') %>
            <button id="toggle-filter" class="login-logout">Tap to filter</button>
            <h1 id="products-heading">Products</h1>
            <section class="container">
                <!-- <button class="filter-button">Toggle Filter</button> -->
                <div class="filter" id="filter">
                    <div class="head">
                        <h1>Filter</h1>
                        <hr id="line-filter">
                    </div>

                    <form action="" method="post" id="filter-form">
                        <div class="side">
                            <h2 class="category-type">Category:</h2>

                            <div class="category-box2 flex-display">
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="category" id="" value="Men">
                                        Men
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="category" id="" value="Women">
                                        Women
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="category" id="" value="Seasonal">
                                        Seasonal
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="category" id="" value="Sportswear">
                                        Sportswear
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="side">
                            <h2 class="category-type">Type:</h2>
                            <div class="category-box2 flex-display">
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="type" id="" value="Shoes">
                                        Shoes
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="type" id="" value="=Shirt">
                                        Shirt
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="type" id="" value="Jacket">
                                        Jacket
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="type" id="" value="Shorts">
                                        Shorts
                                    </label>
                                </fieldset>
                            </div>
                        </div>

                        <div class="side">
                            <h2 class="category-type">Color:</h2>

                            <div class="category-box2 newstyle">
                                <fieldset>
                                    <input type="radio" name="color" id="blue" value="Blue">
                                    <label for="blue" class="color-option" style="background-color: blue;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="brown" value="Brown">
                                    <label for="brown" class="color-option" style="background-color: brown;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="red" value="Red">
                                    <label for="red" class="color-option" style="background-color: red;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="green" value="Green">
                                    <label for="green" class="color-option" style="background-color: green;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="purple" value="Purple">
                                    <label for="purple" class="color-option" style="background-color: purple;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="yellow" value="Yellow">
                                    <label for="yellow" class="color-option" style="background-color: yellow;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="orange" value="Orange">
                                    <label for="orange" class="color-option" style="background-color: orange;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="pink" value="Pink">
                                    <label for="pink" class="color-option" style="background-color: pink;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="cyan" value="Cyan">
                                    <label for="cyan" class="color-option" style="background-color: cyan;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="magenta" value="Magenta">
                                    <label for="magenta" class="color-option"
                                        style="background-color: magenta;"></label>
                                </fieldset>
                            </div>
                        </div>
                        <button class="login-logout fix-margin" id="filter-button">Filter</button>
                    </form>

                </div>
                <div class="products">
                    <div class="products-box">
                        <% if (items.numberOfItems === 0) { %>
                         
                            <div class="message-box">
                                <iframe src="https://lottie.host/embed/7a90bda5-f79e-4e48-b8cc-e6542b8387ff/C6sdjhWP4H.json"></iframe>
                            </div>

                        <% } else { %>

                            <% for (let i=0; i < items.numberOfItems; i++) {%>
                                <div class="item-card">
                                    <img src="<%- items.Items[i].itemImage %>"
                                        alt="<%- items.Items[i].name %>" class="image-item">
                                    <div class="item-content">
                                        <div class="item-details">
                                            <p class="item-title"><%- items.Items[i].name %></p>
                                            <p class="item-bull">&bull;</p>
                                            <p class="item-category"><%- items.Items[i].type %></p>
                                            <p class="item-price"><%- items.Items[i].price %></p>
                                        </div>
                                        <div class="item-actions">
                                            <button class="login-logout item-buy">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        
                            <% } %>
                             
                         
                        
                    </div>
                </div>
            </section>

            <script src="/nav.js"></script>

            <%- include('./partials/footer.ejs') %>
                <script>
                    document.getElementById('toggle-filter').addEventListener('click', function () {
                        if (document.querySelector('.filter').classList.contains('hide')) {
                            document.querySelector('.filter').classList.remove('hide')
                        } else {
                            document.querySelector('.filter').classList.toggle('open');
                        }
                    });

                    let filter = document.querySelector('.filter')

                    document.addEventListener('click', (e) => {

                        if (!filter.contains(e.target) && e.target.id !== 'toggle-filter') {
                            filter.classList.add('hide')
                        }
                    })
                </script>
                <script src="/shop.js"></script>

                <script>

                    let filter_button = document.querySelector('#filter-button');
                    
                    filter_button.addEventListener('click', (e) => {
                        e.preventDefault();

                        let filter_info = document.querySelector('#filter-form')

                        let formData = new FormData(filter_info);
                        console.log(formData.get('color'));

                        window.location.assign(`http://localhost:3000/app/filter?color=${formData.get('color').toLowerCase()}&type=${formData.get('type')}`);
                    })

                </script>
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                <!-- <dotlottie-player src="https://lottie.host/7a90bda5-f79e-4e48-b8cc-e6542b8387ff/C6sdjhWP4H.json" background="transparent" speed="1" style="width: 100%; height: 500px; border: none;" loop autoplay></dotlottie-player> -->


    </body>


</html>